.nav-link{
    font-size: 20px;
    font-weight: 400 ;
    color:black;
    text-decoration: none;
}

.nav-items{
    list-style: none;
}

.nav-main{
    background-color: white;
    height:6rem!important;
    overflow: hidden;
}

.nav-search{
    border-radius: 5px;
    width: 25%;
    height: 30px;
    border:2px solid black;
}


.cart-button{
    background-color: #fff;
    border: 2px solid #fff;
    
}


