.section{
    margin-top: 6%;
    background-color: rgb(209, 219, 219); 
}

.left-side button{
    border-radius: 10px;
    background-color: #fff;
}

.left-side button:hover{ 
    background-color: black;
    color: #fff;
}

.image-upper-line{
    background-color: rgb(239, 235, 235);
}

.women-button{
    border-radius: 10px;
    background-color: #fff;
}

.women-button:hover{
    background-color: black;
    color: #fff;
}

